.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-height: 400px;
    min-width: 200px; */
    height: 500px;
    margin: 10px;
    padding: 20px;
    width: 380px;
    background-color: white ;
    z-index: 1;
    border:1px solid;
    box-shadow: 5px 10px 8px #888888;
    border-color: #888888;
    border-radius: 15px;
    gap: 15px
  }
  
  .product > img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .product > button {
    background-color: #36bbc2;
    border: 1px solid;
    width: 150px;
    cursor: pointer;
    border-color:black;
  }
  
  .price {
    margin-top: 5px;
  }
  
  .info {
    height: 100px;
    margin-bottom: 15px;
  }
  
  .rating {
    display: flex;
  }
  
  .title {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  
  i {
    vertical-align: middle;
  }