.header {
    height: 60px;
    background-color: #bfbfbf;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header-logo {
    width: 100px;
    margin-left: 20px;
    object-fit: contain;
    margin-right: 20px;
    margin-top: 18px;
    margin-bottom: 9px;
  }
  
  .header-nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  
  .header-option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: #000000;
    transition: 0.3s;
  }
  
  .header-link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .header-option1 {
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    
  }
  .header-option:hover{
    color: white;
  }
  .header-option2 {
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, sans-serif;
  }
  
  .search {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: auto;
    height: auto;
    border-radius: 24px;
    margin-left: 9px;
    margin-right: 25px;
  }
  
  .search > select {
    height: 41px;
    padding: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px 0 0 2px;
  }

  .searchIcon {
    padding: 5px;
    height: 30px !important;
    /* background-color: #80a0f7; */
    font-size: 3.2rem !important;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 530px;
    top: 10px;
  }
  
  .searchInput {
    height: 20px;
    padding: 10px;
    border: none;
    width: 470px;
    position: relative;
    border-radius: 15px;
  }

  .searchbox{
    display: flex;
    position: relative;;
    flex-direction: column;
    width: 485px;
    margin-right: 10px;
    flex-wrap: wrap;

  }
  
  .searchInput :focus {
    border-color: lightsalmon;
  }
  
  .header-basket {
    display: flex;
    align-items: center;
  }
  
  .basket-count {
    margin-left: 10px;
    margin-right: 10px;
  }